/* .App {
  padding: 0 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
} */

/* .navbar:active {
  color: red;
  background-color: aqua;
} */

/* .nav-links {
  color: black;
} */

.active {
  color: red;
}




/* .activated {
  color: red;
} */